@model CRUDIslemleri.Models.Ogrenci

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ogrenci</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgrenciIsim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgrenciIsim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgrenciNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgrenciNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Not1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Not1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Not2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Not2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Not3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Not3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gecti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gecti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aktif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aktif)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OgrenciId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
