@model KitapDB.Models.Kitap

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kitap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yazar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yazar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YayınEvi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YayınEvi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SayfaSayisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SayfaSayisi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Okundu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Okundu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KitapId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
